version: "3"
services:
    web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/restaurant_db
    command: >
      sh -c "
      echo 'Waiting for Postgres...' &&
      while ! nc -z db 5432; do sleep 1; done;
      echo 'Postgres started!' &&
      flask run --host=0.0.0.0
      "

