services:
  web:
    build: .
    ports: ["5000:5000"]
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/restaurant
      - FLASK_ENV=production
      - SECRET_KEY=some_long_random_value
    depends_on: [db]
    volumes:
      - .:/app
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: restaurant
    ports: ["5433:5432"]
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
